*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 60px;
  background: rgb(149, 33, 33);
}

/* Menus */
.menu{
  display: flex;
  gap: 30px;
}

.menu a{
  text-decoration: none;
  color: black;
  font-size: 18px;
}

/* Logo */
.logo img{
  width: 120px;
}