*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px 60px;
  background: #F7C6C6;
}

/*header esquerdo*/
.headerEsquerda{
  display: flex;
  position: relative;
  gap: 50px;
  left: 300px;
}

.headerEsquerda a{ 
  text-decoration: none;
  color: black;
  font-size: 18px;
}

/*Header direita*/
.headerDireita{
  display: flex;
 position: relative;
  gap: 50px;
  right: 300px;
}

.headerDireita a{ 
  text-decoration: none;
  color: black;
  font-size: 18px;
}

/* Logo */
.logo img{
  width: 120px;
}